/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


//font-family: 'Roboto Mono', ;
//font-family: 'Simonetta', ;
//font-family: 'Playfair Display', ;
//font-family: 'Kosugi', ;
//font-family: 'Noto Serif JP', ;

@import "bootstrap-sprockets";
@import "bootstrap";
html{
	min-height:100%;
	position:relative;
}

.font {
	font-family: "Roboto Mono", sans-serif;
}
body{
	margin-top: 110px;
	height:100%;
	margin-bottom:6em;
}
footer {
	height:6em;
	bottom:0;
	width:100%;
	margin-top:4px;
	position:absolute;

}
.wrapper {
	position:relative;
	width:100%;
	height:auto !important;
	height:100%;
	min-height:100%;
}

.edit-box {
	margin-top:10px;
}
.actions {
	margin-top:10px;
	margin-bottom:5px;
}

.login {
	margin-top:100px;
}
.header-top {
	background-image: image-url("img/main.jfif");
	background-size:covar;
}

.main-visual {
  width: 100%;
  height: 300px;
  background-image: image-url("img/jpan2.jpg");
  background-size: cover;
  background-position: center;
}

.main-top {
	height: 400px;
	width:100%;
	background-image: image-url("img/main1.jpg");
	background-size: cover;
	background-position: center;
	margin-bottom:30px;
}
.news {
	height: 300px;
	width: 100%;
	border:2px solid #7fffd4;
}

.news-line {
	background-image: image-url("img/main2.jfif");
	background-size:cover;
}
.box {
	margin-top:10px;
}
#slideshow {
   position: relative;
   width:  640px; /* 画像の横幅に合わせて記述 */
   height: 270px; /* 画像の高さに合わせて記述 */
}
#slideshow img {
   position: absolute;
   top: 0;
   left:0;
   z-index: 8;
   opacity: 0.0;
}
#slideshow img.active {
   z-index: 10;
   opacity: 1.0;
}
#slideshow img.last-active {
   z-index: 9;
}
.image1 {
background-image: image-url("/img/image1.jpg");
}
.image2 {
background-image: image-url("/img/image2.jpg");
}
.image3 {
background-image: image-url("/img/image3.jpg");
}
.image4 {
background-image: image-url("/img/image4.jpg");
}

.toph1 {
	padding:10px 0 0 10px;
	font-family: "Noto Serif JP", sans-serif;
}
.toph2 {
	padding:10px 0 0 10px;
	font-family: "Noto Serif JP", sans-serif;
}
.toph3 {
	font-size:35px;
	padding:10px 0 0 10px;
	font-family: "Simonetta", sans-serif;
}
.toph4 {
	font-family: "Noto serif JP", sans-serif;
}

.admin-contact {
	border: solid #7fffd4;
	border-top-width: 5px;
	border-bottom-width: 5px;
	padding: 10px;
	margin-bottom:20px;
}
.top-topick {
}

.mini-genre{
	margin-left:200px;

}

.main {
	font-size:25px;
}

.main-font {
	background: linear-gradient(#7fffd4,#456);
}



.topick-index {
	border-bottom:10px solid #7fffd4;
}


.genre-mini {
	width: 40px;
	padding:0 5px 0;
}

.comment-box {
	border:1px solid #000;
}

.comment-name {
	border-bottom:1px solid #000;
}

.edit-customer {
	padding-right:70px;
}

.withdraw {
	margin-top:80px;
}
