/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


//font-family: 'Roboto Mono', ;
//font-family: 'Simonetta', ;
//font-family: 'Playfair Display', ;
//font-family: 'Kosugi', ;
//font-family: 'Noto Serif JP', ;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "slick-theme";
@import "slick";

html{
	min-height:100%;
	position:relative;
}

.notice {
	color:red;
}

.font {
	font-family: "Roboto Mono", sans-serif;
}
body{
	margin-top: 110px;
	height:100%;
	margin-bottom:6em;
	background:linear-gradient(#e0ffff,#f8f8ff);
}
footer {
	height:6em;
	bottom:0;
	width:100%;
	margin-top:4px;
	position:absolute;

}
.wrapper {
	position:relative;
	width:100%;
	height:auto !important;
	height:100%;
	min-height:100%;
}

.edit-box {
	margin-top:10px;
}
.actions {
	margin-top:10px;
	margin-bottom:5px;
}

.inquiry {
	display: none;
}

.login {
	margin-top:100px;
}
.header-top {
	background-image: image-url("img/main.jfif");
	background-size:covar;
}

.main-visual {
  width: 100%;
  height: 300px;
  background-image: image-url("img/jpan2.jpg");
  background-size: cover;
  background-position: center;
}

.main-top {
	height: 400px;
	width:100%;
	position: relative;
	margin-bottom:30px;
}
.main1 {
	background-image: image-url("img/main1.jpg");
}
.main2 {
	background-image: image-url("img/mv.jpg");
	background-position:bottom;
}
.main3 {
	background-image: image-url("img/road.jpg");
}
.main4 {
	background-image:image-url("img/japan.jpg");
	background-size: contain;
	background-position:center;
}
.image1 {
	background-image: url("img/main1.jpg");
}
.image2 {
	background-image: url("img/main2.jpg");
}
.image3 {
	background-image: url("img/main3.jpg");
}
.main-contents {
	position:absolute;
	z-index:20;
}
.news {
	height: 300px;
	width: 100%;
	border:2px solid #7fffd4;
}
.about-image {
	background-image: image-url("img/lake.jpg");
	background-size:cover;
}

.news-line {
	background-image: image-url("img/main2.jfif");
	background-size:cover;
}
.box {
	margin-top:10px;
}

.toph1 {
	padding:10px 0 0 10px;
	font-family: "Noto Serif JP", sans-serif;
}
.toph2 {
	padding:10px 0 0 10px;
	font-family: "Noto Serif JP", sans-serif;
}
.toph3 {
	font-size:35px;
	padding:10px 0 0 10px;
	font-family: "Simonetta", sans-serif;
}
.toph4 {
	font-family: "Noto serif JP", sans-serif;
}

.admin-contact {
	border: solid #7fffd4;
	border-top-width: 5px;
	border-bottom-width: 5px;
	padding: 10px;
	margin-bottom:20px;
}
.top-topick {
}

.mini-genre{
	margin-left:200px;

}

.main {
	font-size:25px;
}

.main-font {
	background: linear-gradient(#7fffd4,#456);
}



.topick-index {
	border-bottom:10px solid #7fffd4;
}


.genre-mini {
	width: 40px;
	padding:0 5px 0;
}

.comment-box {
	border:1px solid #000;
}

.comment-name {
	border-bottom:1px solid #000;
}

.edit-customer {
	padding-right:70px;
}

.withdraw {
	margin-top:80px;
}


/*調べる
fixed,inline-block,transiton:all .4s border-box,relative,absolute,border-radius,nth-of-type,-webkit-transform:translateY(20px) rotate(-45deg);
	transform: translateY(20px) rotate(-45deg);fon-weight:bold;
	*/



/*ハンバーガー*/
#hm-icon{
  position: fixed;
  right: 20px;
  top: 10px;
  z-index: 10;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .8s linear;
  /*cssでのアニメーションをつける allは全て、4s変化の始まりから終わり,(option例 ease 開始時と終了時は緩やか,linear 一定に変化,ease-in開始時は緩やか終了に近づくほど速く変化,ease-out開始時は早く変化し、終了時にはゆっくりになる) transiton:all 3s 2s easeと設定すると2sは変化を遅らせてスタートさせることができる*/
  box-sizing: border-box;
}
.menu-trigger:hover{
	background-color:red;
}
.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}
.menu-trigger span{
	position: absolute;
	left:0;
	width:100%;
	height:4px;
	background-color:#000;
	border-radius:10px;  /*div要素などの丸く出来る要素*/
}
.menu-trigger span:nth-of-type(1){
	top:0;
	/*nth-of-typeは指定したここではspanがspan要素の何番目という意味
	  nth-of-child要素に関係なく何番目*/
}
.menu-trigger span:nth-of-type(2){
	top:20px;
}
.menu-trigger span:nth-of-type(3){
	bottom:0;
}
.menu-trigger.active span:nth-of-type(1){
	-webkit-transform:translateY(20px) rotate(-45deg);
	transform: translateY(20px) rotate(-45deg);
	background-color: #000;
}
.menu-trigger.active span:nth-of-type(2){
	opacity:0;
}
.menu-trigger.active span:nth-of-type(3){
	-webkit-transform:translateY(-20px) rotate(45deg);
	transform:translateY(-20px) rotate(45deg);
	/*translate 移動させるcssここではtranslateY Y軸に-20pxうごかす,rotateは回転角度
	ほかのオプションskew 平行四辺形 perspective遠近効果rotateとセット,scale 尺度*/
	background-color:#000;
}
/*spメニュー*/
#sp-menu{
	position:fixed;
	top:60px;
	left:0;
	background:linear-gradient(#e0ffff,#f8f8ff);
	color:#fff;
	width:100%;
	display:none;
	z-index:9;
}
#sp-menu li{
	text-align:center;
	margin:30px 0;
	list-style: none;

}
#sp-menu a{
	color:#000;
	font-weight:bold;/*太字*/
}

