<footer>
	<div class="container">
		<div class="row">
			<div class="col-xs-3 col-xs-offset-9">
				<%= link_to "お問い合わせ",new_inquiry_path %>
				<p>CopyRight SkiSp</p>
			</div>
		</div>
</footer>